<html>
    <head>
        <title>Personal Webpage</title>
        <meta charset="utf-8">
        <style> 
        *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
           
        }
        #header{
            background-size: cover;
            background-position: center;
            background-image: url(me.png);
            width: 100%;
            height: 100vh;

        }
          body{
            background-color: black;
            color:#fff;
            
          }
          .container{
            padding: 10px 10%;
          }
          nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          .logo{
            width: 140px;
          }
          nav ul li{
            display: inline-block;
            list-style: none;
            margin:10px 20px;
          }
          nav ul li a{
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            position: relative;
          }
          nav ul li a::after{
            content: '';
            width: 0;
            height: 10px;
            background: #4300af;
            position: absolute;
            left:0;
            bottom: -6px;
            transition: 0.5s;
          }
          nav ul li a:hover:after{
            width: 100%;
          }
          .Text {
            margin-top: 20%;
            font-size: 30px;
          }
          .Text h1{
            font-size: 60px;
            margin-top: 20px;
          }
          .ge{
            color:#4300af;
          }
          
          #about {
           padding: 80px 0;
           color: #ababab;
           background-color: #070707;
            
          }
          .row{
            display: flex;
            justify-content: space-between;
            flex: wrap;
          }
          .col_1{
            flex-basis: 35%;
          }
          .col_1 img{
            width: 100%;
            border-radius: 15px;

          }
          .col_2{
            flex-basis: 60%;
          }
          .infos{
            font-size: 60px;
            font-weight: 600;
            color:#fff;
          }
          .Titles{
            display: flex;
            margin: 20px 0 40px;
          }
          .links{
            margin-right: 50px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            position: relative;
          }
          .links::after{
            content: '';
            width: 0;
            height: 3px;
            background: #4300af;
            position: absolute;
            left: 0;
            bottom: -8px;
            transition: 0.5s;
          }
          .links.active-link::after{
            width: 50%;

          }
          .contents ul li {
            list-style: none;
            margin: 10px 0;
          }
          .contents ul li span{
            color: #4300af;
            font-size: 14px; 
          }
          .contents {
            display: none;

          }
          .contents.active-con{
            display: block;
          }
        </style>
    </head>
    <body> 
        <div id="header"> 
            <div class="container"> 
                <nav> 
                    <img src="geo.png" class="logo">
                    <ul>
                        <li> <a href ="#"> Home </a></li>
                        <li> <a href ="#about"> About </a></li>
                        <li> <a href ="#"> Service </a></li>
                        <li> <a href ="#"> Portfolio </a></li>
                        <li> <a href ="#"> Contact </a></li>
                    </ul>
                </nav>
                <div class="Text">
                    <h1> Hi, <br> I'm <span class = "ge">Geoff Abellano</span> </h1>
                    <p>  Student From ICT-CP-A  </p>
                </div>
            </div>
        </div>

    <div id="about">
        <div class="container"> 
            <div class="row"> 
                <div class="col_1">
                    <img src="ace.jpg" width="50%">
                </div>
                <div class="col_2"> 
                   <h1 class="infos"> About Me </h1>
                   <p> Hi, everyone! I'm Geoff Abellano, and I'm 16 years old. I used to study at the University of Nueva Caceres in the ICT-CP-A program. I've always been into technology, especially computers, ever since I was in elementary school. That's why I chose this course. I wanted to learn more about how computers and tech stuff work. When I'm not busy with tech, I love playing basketball and billiards. I also really enjoy going out on dates with my love, Candace. These hobbies keep my life fun and give me a good balance between studying and relaxing!  </p>

                   <div class="Titles"> 
                    <p class="links active-link" onclick="opentab('skills')"> Skill</p> 
                    <p class="links" onclick="opentab('experience')" > Experience </p>
                    <p class="links" onclick="opentab('education')"> Education </p>
                   </div>
                   <div class="contents active-con" id="skills"> 
                        <ul> 
                          <li><span>HTML</span><br>Basics HTML </li>
                          <li><span>CSS</span><br>Basics CSS</li>
                          <li><span>Javascript</span><br>Basic Javascript</li>   
                        </ul>
                   </div>
                   <div class="contents" id="experience"> 
                        <ul> 
                            <li><span>2024 - Current</span><br>Basics HTML </li>
                            <li><span>2024 - Current</span><br>Basics CSS</li>
                            <li><span>2024 - Current</span><br>Basic Javascript</li>   
                         </ul>
                    </div>
                    <div class="contents" id="education"> 
                        <ul> 
                            <li><span>2024</span><br>Basics HTML </li>
                            <li><span>2024</span><br>Basics CSS</li>
                            <li><span>2024</span><br>Basic Javascript</li>   
                        </ul>
                    </div>
                </div>
             </div>
        </div>
    </div>

    <script> 

        var links = document.getElementsByClassName("links");
        var contents = document.getElementsByClassName("contents");

        function opentab(name)
        {
            for(link of links){
                link.classList.remove("active-link");
            }
            for(content of contents){
                content.classList.remove("active-con");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(name).classList.add("active-con");
        }

    </script>

    </body>
</html>
